<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOS Pet</title>
</head>

<body>
    <h1>S.O.S PET</h1>
    <img src="dog-icon.png" alt="Dog Icon" class="icon">
    <div class="container">
        <div class="card">
            <div class="header">
                <h2>S.O.S PET</h2>
                <h2 class="yellow-text">SHOP</h2>
            </div>
            <p>Contamos também com a parte de venda de utensílios para seus animaizinhos, incluindo acessórios,
                alimentos e brinquedos, tudo a preços acessíveis para você, tutor.</p>
            <div class="buttons">
                <button class="next" [routerLink]="['/home']">iniciar</button>
            </div>
        </div>
    </div>
</body>

</html>