<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOS Pet - Home</title>
</head>
<body>
    <div class="header">
        <h1>S.O.S PET</h1>
    </div>
    <div class="user-info">
        <span>S.O.S PET SHOP</span>
    </div>
    <div class="container">
        <div class="category">
            <h2>BRINQUEDOS</h2>
            <div class="image-gallery">
                <img src="brinquedo1.jpg" alt="Brinquedo 1" [routerLink]="['/info']">
                <img src="brinquedo2.jpg" alt="Brinquedo 2" [routerLink]="['/info']">
                <img src="brinquedo3.jpg" alt="Brinquedo 3" [routerLink]="['/info']">
            </div>
        </div>
        <div class="category">
            <h2>RAÇÕES</h2>
            <div class="image-gallery">
                <img src="racao1.jpg" alt="racao 1" [routerLink]="['/info']">
                <img src="racao2.jpg" alt="racao 2" [routerLink]="['/info']">
            </div>
        </div>
    </div>
    <div class="footer">
        <button class="footer-button"><span class="icon-home"></span></button>
        <button class="footer-button active"><span class="icon-shop"></span></button>
        <button class="footer-button" [routerLink]="['/home']"><span class="icon-paw"></span></button>
    </div>
</body>
</html>

