<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOS Pet - Info</title>
</head>
<body>
    <div class="container">
        <div class="info-card">
            <img src="cat-info.jpg" alt="Cat/Prod Info" class="info-img">
            <div class="info-text">
                <p class="name">Informações do pet/produtos</p>
                <p class="more-info">Mais informações</p>
            </div>
            <div class="info-bar"></div>
        </div>
    </div>
</body>
</html>
