<div class="register-page">
    <div class="header">
        <h1>TEM UM ANIMALZINHO ESPERANDO POR VOCÊ!</h1>
        <h1>CRIE SUA CONTA.</h1>
    </div>
    <div class="container">
        <form>
            <div class="input-group">
                <input type="email" placeholder="Email">
            </div>
            <div class="input-group">
                <input type="text" placeholder="Nome completo">
            </div>
            <div class="input-group">
                <input type="text" placeholder="Nome de usuário">
            </div>
            <div class="input-group">
                <input type="password" placeholder="Senha">
            </div>
            <div class="input-group">
                <input type="password" placeholder="Repita a senha">
            </div>
            <div class="button-container">
                <button type="submit" [routerLink]="['/aviso1']">Confirmar</button>
            </div>
        </form>
    </div>
</div>