<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOS Pet</title>
</head>
<body>
    <h1>S.O.S PET</h1>
    <img src="dog-icon.png" alt="Dog and Cat Icon" class="icon">
    <div class="container">
        <div class="card">
            <h2>Adote um animal e faça a vida dele mais feliz.</h2>
            <p>Oferecemos processos simplificados de adoção para que você possa construir uma conexão forte e rápida com seu companheiro de patas.</p>
            <div class="buttons">
                <button class="skip" [routerLink]="['/home']">Pular</button>
                <button class="next" [routerLink]="['/aviso2']">Próximo</button>
            </div>
        </div>
    </div>
</body>
</html>
